@import url("https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap");
* {
  box-sizing: border-box;
}
:root {
  --background-orange: rgba(255, 165, 0, 0.6);
}
html {
  margin: 0;
  background-color: black;
  width: 95%;
}
.app-body {
  display: flex;
  width: 100%;
}
main {
  display: flex;
  flex: 1;
  min-height: 100vh;
  background-image: url("/addams.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.costume {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
}
.costume h4 {
  margin: 1px;
}

/* Nav Style ----------- */

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33vh;
  border-right: 1px solid var(--background-orange);
}
header h1 {
  color: limegreen;
  font-family: "Xanh Mono", monospace;
  font-size: 6em;
  width: 100%;
  text-align: center;
}
aside a {
  color: darkorange;
  text-decoration: none;
  line-height: 45px;
  display: block;
  text-align: center;
}
aside a:hover {
  font-size: 1.5em;
}

/* Home / SignUp / LogIn Page  */

.submit-button {
  border: 1.5px solid darkorange;
  background-color: var(--background-orange);
}
.home {
  height: auto;
  width: 60%;
  margin: 0 auto;
}
.home h3 {
  color: limegreen;
  text-align: center;
  background-color: rgba(50, 205, 50, 0.5);
  padding: 5px;
  border: 1px solid limegreen;
  border-radius: 7px;
  box-shadow: 1px 1px 25px limegreen;
}
.form {
  height: auto;
  margin: 0 auto;
}
.form form {
  color: limegreen;
  background-color: rgba(50, 205, 50, 0.3);
  padding: 5px;
  border: 1px solid limegreen;
  border-radius: 7px;
  box-shadow: 1px 1px 25px limegreen;
}

/* New Page */

.new,
.change-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.new-container {
  width: 100%;
}
.new-costume {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin: 0 auto;
  background-color: var(--background-orange);
  border: 1px solid darkorange;
  border-radius: 3px;
}
.new-costume h2 {
  margin: 2px;
}
.items-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 200px;
  border: 1px solid darkorange;
  border-radius: 3px;
  background-color: var(--background-orange);
  margin: 0 3px 0 3px;
  align-items: center;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.9);
  width: 200px;
  height: 300px;
  margin: 2px;
  border: 4px solid black;
  border-radius: 20%;
}
.item button {
  color: white;
  justify-self: flex-end;
  border: none;
  background-color: transparent;
}
.item h4 {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2px;
  margin: 1px 0;
}
.item button:hover {
  cursor: pointer;
  font-size: 1.25em;
}

/* Dashboard */

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  overflow-y: auto;
}
.dashboard h1 {
  font-size: 3em;
  color: darkorange;
  margin: 2px;
}
.carousel .costume {
  background-color: var(--background-orange);
  border: 1px solid darkorange;
  border-radius: 4px;
}
.dashboard button,
a {
  border: none;
  background-color: transparent;
  color: darkorange;
  display: inline;
}
.dashboard h2 {
  color: limegreen;
  font-family: "Xanh Mono", monospace;
  display: inline-block;
}
.dashboard a {
  text-decoration: none;
}
.dashboard-h2:hover {
  cursor: pointer;
}
.dashboard button:hover,
.dashboard a:hover {
  cursor: pointer;
  font-size: 1.25em;
}
/* Carousel */
.carousel {
  display: flex;
  align-items: center;
}
.slide-arrow {
  background-color: rgba(50, 205, 50, 0.5);
  padding: 1px;
  margin: 0 2px;
  border: 1px solid limegreen;
  border-radius: 2px;
}
.slide-arrow:hover {
  background-color: limegreen;
  cursor: pointer;
}

/* Change Page */

.change-container {
  display: flex;
  justify-content: space-around;
  max-width: 900px;
}

@media (max-width: 1300px) {
  .app-body {
    flex-direction: column;
  }
  aside {
    flex-direction: row;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--background-orange);
  }
  nav,
  .links {
    display: flex;
  }
  nav {
    width: 30%;
    justify-content: space-between;
  }
  .links a {
    margin: 0 2px;
  }
  aside a:hover {
    font-size: 1em;
    text-decoration: underline;
  }
}
@media (max-width: 950px) {
  header h1 {
    font-size: 4em;
  }
  nav {
    flex: 1;
    justify-content: space-around;
  }
  .new {
    flex-direction: column;
    align-items: center;
  }
  .new-costume .costume {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .new-costume {
    width: 100%;
    align-items: center;
  }
  .items-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2px;
    width: 500px;
  }
  .items-container h2 {
    display: none;
  }
}
