@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');

body {
  margin: 0;
  background-color: black;
}

/* Nav Style ----------- */

.nav-header {
  color: limegreen;
  font-family: 'Xanh Mono', monospace;
  padding-left: 10px;
  font-size: 4em;
}

nav {
  display: flex;
  justify-content: space-around;
  border: 2px solid darkorange;
  border-radius: 3px;
  padding: 3px;
  background-color: rgba(255, 165, 0, 0.6);
  height: 50px;
  width: 95%;
  margin: 0 auto;
}

nav a {
  color: black;
  text-decoration: none;
  vertical-align: middle;
  line-height: 45px;
}

nav a:hover {
  font-size: 1.5em;
}

/* Home Page */

.home-header, 
.signup-form, 
.login-form,
.dashboard-header {
  color: limegreen;
  text-align: center;
  width: 60%;
  margin: 50px auto;
  background-color: rgba(50, 205, 50, 0.3);
  padding: 5px;
  border: 1px solid limegreen;
  border-radius: 7px;
  box-shadow: 1px 1px 25px limegreen ;
}

/* New Page */

.costume-items {
  display: flex;
  justify-content: space-around;
}

.new-items {
  display: flex;
  flex-direction: column;
  border: 1px solid darkorange;
  border-radius: 3px;
  background-color: rgba(255, 165, 0, 0.6);
  margin: 0 3px 0 3px;
  min-width: 200px;
  align-items: center;
  justify-content: space-between;
}
.costume-items :nth-child(1) {
  justify-content: start;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
}
.accessories,
.tops,
.bottoms {
  width: 150px;
}

/* dashboard */

.dashboard-costume {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-height: 750px;
  padding: 5px;
  border: 1px solid darkorange;
  border-radius: 3px;
  background-color: rgba(255, 165, 0, 0.6);
  margin: 0 3px 0 3px;
  min-width: 200px;
  align-items: center;
}
.dashboard-costume img,
.costume-items img {
  width: 150px;
  max-height: 200px;
  border: 1px solid darkorange;
  border-radius: 3px;
  margin-bottom: 2px;;
}
.dashboard-container {
  display: flex;
  padding: 10px;
}
.dashboard-button {
  border: none;
  background-color: transparent;
}
.dashboard-h2{
  color: limegreen;
  font-family: 'Xanh Mono', monospace;
  display: inline-block;
  padding-left: 10px;
}

.dashboard-h2 a {
  text-decoration: none;
}

.dashboard-h2:hover{
  cursor: pointer;
}
/* Change Page */
.change-container {
  display: flex;
  justify-content: space-around; 
  max-width: 900px;
}
.change-costume img,
.change-all-costumes img {
  width: 150px
}

.submit-button {
  background-color: rgba(255, 165, 0, 0.6);
  border: 1px solid darkorange;
  padding: 2px;
}

.submit-button:hover, 
.dashboard-button:hover {
  cursor: pointer;
}

.dashboard-button:hover {
  font-size: 1.25em;
}

