@import url("https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap");
* {
  box-sizing: border-box;
}
:root {
  --background-orange: rgba(255, 165, 0, 0.6);
}

body {
  margin: 0;
  background-color: black;
}

main {
  display: flex;
  min-height: 100vh;
  background-image: url("/addams.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.costume {
  text-align: center;
  flex: 2;
}
.costume h4 {
  margin: 1px;
}
.costume-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-basis: 200px;
  background-color: var(--background-orange);
  max-height: 750px;
  padding: 5px;
  border: 1px solid darkorange;
  margin: 0 3px 0 3px;
  border-radius: 3px;
}
.costume-container img,
.costume img {
  width: 150px;
  max-height: 200px;
  border: 1px solid darkorange;
  border-radius: 3px;
  margin-bottom: 2px;
}

/* Nav Style ----------- */

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33vh;
  border-right: 1px solid var(--background-orange);
}
header h1 {
  color: limegreen;
  font-family: "Xanh Mono", monospace;
  font-size: 6em;
  width: 100%;
  text-align: center;
}
aside a {
  color: darkorange;
  text-decoration: none;
  line-height: 45px;
  display: block;
  text-align: center;
}
aside a:hover {
  font-size: 1.5em;
}

/* Home / SignUp / LogIn Page  */

.submit-button {
  border: 1.5px solid darkorange;
  background-color: var(--background-orange);
}
.home {
  height: auto;
  width: 60%;
  margin: 0 auto;
}
.home h3 {
  color: limegreen;
  text-align: center;
  background-color: rgba(50, 205, 50, 0.5);
  padding: 5px;
  border: 1px solid limegreen;
  border-radius: 7px;
  box-shadow: 1px 1px 25px limegreen;
}
.form {
  height: auto;
  margin: 0 auto;
}
.form form {
  color: limegreen;
  background-color: rgba(50, 205, 50, 0.3);
  padding: 5px;
  border: 1px solid limegreen;
  border-radius: 7px;
  box-shadow: 1px 1px 25px limegreen;
}

/* New Page */

.new-container,
.change-container {
  display: flex;
  justify-content: space-around;
}
.items-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid darkorange;
  border-radius: 3px;
  background-color: var(--background-orange);
  margin: 0 3px 0 3px;
  min-width: 200px;
  align-items: center;
}
.new-container :nth-child(1) {
  justify-content: start;
}
.item {
  text-align: center;
}
.item img {
  width: 150px;
  border: 1px solid darkorange;
  border-radius: 3px;
  margin-bottom: 2px;
}
.item > button {
  display: block;
  margin: 1px auto;
  border: none;
  background-color: transparent;
}
.item > button:hover {
  cursor: pointer;
  font-size: 1.25em;
}

/* Carousel */
.carousel {
  display: flex;
  align-items: center;
}
.slide-arrow {
  background-color: white;
}

/* Dashboard */

.dashboard-container h3 {
  text-align: center;
}
.dashboard-container {
  display: flex;
  padding: 10px;
}
.dashboard-container :nth-child(4) {
  justify-self: stretch;
}
.dashboard-button {
  border: none;
  background-color: transparent;
}
.dashboard-h2 {
  color: limegreen;
  font-family: "Xanh Mono", monospace;
  display: inline-block;
  padding-left: 10px;
}
.dashboard-h2 a {
  text-decoration: none;
}
.dashboard-h2:hover {
  cursor: pointer;
}
.dashboard-button:hover {
  cursor: pointer;
  font-size: 1.25em;
}

/* Change Page */

.change-container {
  display: flex;
  justify-content: space-around;
  max-width: 900px;
}
