@import url("https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap");
* {
  box-sizing: border-box;
  font-family: var(--second-font);
}
:root {
  --background-dark: #1f1c1880;
  --background-middle: #2b2a2a80;
  --background-light: #f8f8ff80;
  --background-red: #8e0e0070;
  --second-font: "Xanh Mono", monospace;
  --main-font: "Yeon Sung", cursive;
  --dark-shade: #1f1c18;
  --middle-shade: #2b2a2a;
  --light-shade: #605553;
  --border: 1px solid var(--middle-shade);
  --white: #f8f8ff;
  --red: #8e0e00;
}
html {
  margin: 0 auto;
  width: 95%;
  color: var(--white);
  background-image: linear-gradient(to top, var(--red), var(--dark-shade) 20%);
  min-height: 100vh;
}
.app-body {
  display: flex;
  width: 100%;
  min-height: 80vh;
}
main {
  display: flex;
  flex: 1;
}
a {
  color: var(--white);
  text-decoration: none;
}

/* Costume */
.costume {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
}
.costume h4 {
  margin: 1px;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.9);
  width: 200px;
  height: 300px;
  margin: 2px;
  border: 4px solid black;
  border-radius: 20%;
}
.item button {
  color: white;
  justify-self: flex-end;
  border: none;
  background-color: transparent;
}
.item h4 {
  background-color: var(--white);
  color: var(--red);
  padding: 2px;
  margin: 1px 0;
}
.item button:hover {
  cursor: pointer;
  font-size: 1.25em;
}

/* Nav */
header {
  min-height: 20vh;
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33vh;
  border-right: var(--border);
}
header h1 {
  font-family: var(--main-font);
  font-size: 6em;
  width: 100%;
  text-align: center;
  margin: 2px;
}
aside a {
  line-height: 3;
  display: block;
  text-align: center;
}
aside .links a {
  line-height: 1.5;
}
aside a:hover {
  font-size: 1.5em;
}

/* Home / SignUp / LogIn Page  */
.submit-button {
  border: var(--border);
  background-color: var(--background-dark);
}
.home,
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
.home h3 {
  text-align: center;
  background-color: var(--background-light);
  padding: 5px;
  border: var(--border);
  border-radius: 7px;
  box-shadow: 1px 1px 25px var(--red);
}
.form form {
  background-color: var(--background-light);
  padding: 5px;
  border: var(--border);
  border-radius: 7px;
  box-shadow: 1px 1px 25px var(--light-shade);
}
.form .submit-button {
  background-color: var(--red);
  color: var(--white);
}
.form .submit-button:hover {
  cursor: pointer;
}

/* New / Change Pages */
.new,
.change {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.new-container,
.change-container {
  width: 100%;
}
.new-costume,
.user-costume {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  margin: 0 auto;
  background-color: var(--background-red);
  border: var(--border);
  border-radius: 3px;
}
.new-container h2,
.change-container h2 {
  margin: 10px;
  text-align: center;
}
.new-container h2:hover,
.change-container h2:hover {
  cursor: pointer;
}
.items-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 200px;
  border: var(--border);
  border-radius: 3px;
  background-color: var(--background-light);
  margin: 0 3px 0 3px;
  align-items: center;
}

/* Dashboard */
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  overflow-y: auto;
}
.dashboard h1 {
  font-size: 3em;
  margin: 2px;
  text-align: center;
}
.carousel .costume {
  flex-direction: row;
  background-color: var(--background-light);
  border: var(--border);
  border-radius: 4px;
}
.dashboard button,
a {
  border: none;
  background-color: transparent;
  display: inline;
}
.dashboard button {
  color: var(--red);
}
.dashboard h2 {
  font-family: var(--main-font);
  display: inline-block;
}
.dashboard h2:hover {
  cursor: pointer;
}
.dashboard button:hover {
  cursor: pointer;
  font-size: 1.25em;
}

/* Carousel */
.carousel {
  display: flex;
  align-items: center;
}
.slide-arrow {
  background-color: var(--background-red);
  padding: 5px;
  margin: 0 2px;
  border: var(--border);
  border-radius: 2px;
}
.slide-arrow:hover {
  background-color: var(--red);
  cursor: pointer;
}

@media (max-width: 1300px) {
  .app-body {
    flex-direction: column;
  }
  aside {
    flex-direction: row;
    width: 100%;
    border: none;
    border-bottom: var(--border);
  }
  nav,
  .links {
    display: flex;
  }
  nav {
    width: 30%;
    justify-content: space-between;
  }
  aside .links a {
    margin: 0 3px;
    line-height: 3;
  }
  aside a:hover {
    font-size: 1em;
    text-decoration: underline;
  }
}

/* canvas */
.canvas-container {
  position: relative;
}
canvas,
.canvas-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  width: 600px;
}
canvas {
  z-index: 2;
}
.canvas-bg {
  z-index: 0;
}
@media (max-width: 950px) {
  header h1 {
    font-size: 4em;
  }
  nav {
    flex: 1;
    justify-content: space-around;
  }
  .new,
  .change {
    flex-direction: column;
    align-items: center;
  }
  .new-costume .costume,
  .user-costume .costume {
    flex-direction: row;
    justify-content: center;
  }
  .new-costume,
  .user-costume {
    width: 100%;
    align-items: center;
    width: auto;
    margin: 0 auto;
  }
  .items-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2px;
    width: 500px;
  }
  .items-container h2 {
    display: none;
  }
}
@media (max-width: 600px) {
  .new-costume .costume,
  .user-costume .costume,
  .carousel .costume,
  .items-container,
  aside,
  aside nav {
    flex-direction: column;
  }
  aside {
    align-items: center;
  }
  aside .links {
    justify-content: space-around;
    width: 100%;
  }
  .new-costume,
  .user-costume,
  .items-container {
    width: auto;
  }
  .form form input {
    display: block;
    margin: 2px auto;
  }
}
