body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Nav Style ----------- */

nav {
  display: flex;
  justify-content: space-around;
  border: 2px solid darkorange;
  padding: 3px;
}

/* New Page */

.costume-items {
  display: flex;
  justify-content: space-between;
}
.accessories {
  width: 150px;
}

/* dashboard */

.dashboard-costume {
  display: flex;
  justify-content: space-between;
}
.dashboard-costume img {
  width: 150px
}

/* Change Page */
.change-container {
  display: flex;
  justify-content: space-around; 
  max-width: 900px;
}
.change-costume img,
.change-all-costumes img {
  width: 150px
}

